doctype
html(ng-app="TempleApp")
	head
		title Temple App
		link(rel="shortcut icon", href="../images/title.jpg")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="css/lib.min.css")
		link(rel="stylesheet", href="css/lib.min.css")
	body(class="boxed")
		div(ui-view="viewA")
		div(ui-view="viewB")
		script(src="js/lib.min.js")
		script(src="js/app.js")
