div
    section.container
        .row
            .col-lg-12
                .panel.panel-primary
                    .panel-heading
                        | New Member Registration
                    .panel-body
                        form#registratioinForm(name='registratioinForm',class='form-horizonal',type='form',novalidate)
                            .col-lg-6
                                .form-group.has-warning
                                    label.control-label(for='name')
                                        | Name
                                        span(class='star-label') *
                                    div(ng-class="{ 'has-error' : registratioinForm.name.$invalid }")
                                        input#name.form-control.input-sm(type='text',name='name',ng-model='member.name',placeholder='Name', title='enter your full name', required, autofocus)
                                        small(class="label label-danger",ng-show="registratioinForm.name.$invalid && registratioinForm.name.$dirty") Required Name
                                .form-group.has-warning
                                    label.control-label(for='fatherName')
                                        | Father Name
                                        span(class='star-label') *
                                    div(ng-class="{ 'has-error' : registratioinForm.fatherName.$invalid }")
                                        input#fatherName.form-control.input-sm(type='text',name='fatherName',ng-model='member.fatherName',placeholder='Father Name',required)
                                        small(class="label label-danger",ng-show="registratioinForm.fatherName.$invalid && registratioinForm.fatherName.$dirty") Required Father Name
                                .form-group.has-warning
                                    label.control-label(for='nakshatra')
                                        | Nakshatra
                                        span(class='star-label') *
                                    div(ng-class="{ 'has-error' : registratioinForm.nakshatra.$invalid }")
                                        select#nakshatra.form-control.input-sm(name='nakshatra', ng-model='member.nakshatra', required)
                                            option(value='',selected) -- Select Nakshatra --
                                            option(value='{{ obj.name }}', ng-repeat='obj in nakshatras') {{ obj.name }}
                                        small(class="label label-danger",ng-show="registratioinForm.nakshatra.$invalid && registratioinForm.nakshatra.$dirty") Required name of Nakshatra
                                .form-group.has-warning
                                    label.control-label(for='gotra')
                                        | Gotra
                                        span(class='star-label') *
                                    div(ng-class="{ 'has-error' : registratioinForm.gotra.$invalid }")
                                        input#gotra.form-control.input-sm(type='text',name='gotra',ng-model='member.gotra',placeholder='Gotra', title='enter your gotra name', required)
                                        small(class="label label-danger",ng-show="registratioinForm.gotra.$invalid && registratioinForm.gotra.$dirty") Required name of Gotra
                                
                            .col-lg-6
                                .form-group.has-warning
                                    label.control-label(for='dob')
                                        | Birth Date
                                        span(class='star-label') *
                                    
                                    #fromDatepicker.input-group.date
                                        input#fromDate.form-control.input-sm(type='text', required='', name='dob', ng-change='calculateAgeOnDOB()', ng-model='member.dob', placeholder='Select Date')
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-calendar
                                .form-group.has-warning
                                    label.control-label(for='mobileNumber')
                                        | Mobile Number
                                        span(class='star-label') *
                                    div(ng-class="{ 'has-error' : registratioinForm.mobileNumber.$invalid }")
                                        input#mobileNumber.form-control.input-sm(type='tel',name='mobileNumber',ng-model='member.mobileNumber',placeholder='Mobile Number',ng-maxlength="10", ng-minlength="10",required)
                                        small(class="label label-danger",ng-show="registratioinForm.mobileNumber.$invalid && registratioinForm.mobileNumber.$dirty") Required 10 digits mobile number
                                .form-group.has-warning
                                    label.control-label(for='age')
                                        | Age
                                    div
                                        input#age.form-control.input-sm(type='text',name='age',ng-model='member.age',placeholder='Select  your date of birth', readonly)
                                
                                .form-group.has-warning
                                    label.control-label(for='address')
                                        | Address
                                    div
                                        textarea#address.form-control.input-sm(name='address', ng-model='member.address', placeholder='Address')                            

                            .col-lg-12
                                .col-lg-6
                                    .form-group.has-warning
                                        button.btn.btn-success(id='btn-createMember', ng-click='createMember(member)', ng-disabled='registratioinForm.$invalid')
                                            i.glyphicon.glyphicon-ok
                                            |	Register                                        
                                        button.btn.btn-warning(id='btn-close', ui-sref="userDashboard")
                                            i.glyphicon.glyphicon-circle-arrow-left
                                            |	Back
                                .col-lg-6
                                    .alert.alert-success(ng-show='successMessage')
                                        i.fa.fa-check-circle-o
                                            | Member Registered Successfully!
                                    .alert.alert-danger(ng-show='errorMessage')
                                        i.fa.fa-check-circle-o
                                            | Member Not Registered!
